@media (min-width: 1500px){
    .d-grid {
        display: grid;
        grid-template-columns: 80% 100%;
        position: absolute;
        grid-column-gap: 20%;
        top: 25%;
        left: 22%;
    }
    
    .d-grid2 {
        display: grid;
        grid-template-columns: 157% 140%;
        position: absolute;
        grid-column-gap: 75%;
        top: 25%;
        left: 20%;
    }
} 