* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.cdnfonts.com/css/monicay');
@import url('https://fonts.cdnfonts.com/css/mythical-glorious');

.d-grid {
    width: 28%;
    display: grid;
    grid-template-columns: 80% 100%;
    position: absolute;
    grid-column-gap: 20%;
    top: 25%;
    left: 24%;
}

.d-grid2 {
    width: 14%;
    display: grid;
    grid-template-columns: 157% 140%;
    position: absolute;
    grid-column-gap: 75%;
    top: 25%;
    left: 24%;
}

#toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 9999;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.winner img {
    position: absolute;
    left: 40%;
    top: 25%;
}

.winner p {
    color: white;
    font-size: 30px;
    font-family: 'Mythical Glorious', sans-serif;
    position: absolute;
    left: 39%;
    top: 20%;
}

.nowinner img {
    position: absolute;
    left: 35%;
}

.remove {
    display: none;
}

.hidden {
    visibility: hidden;
}

.cross {
    background-repeat: no-repeat;
    background-image: url(../image/x.png);
    background-size: contain;
    background-position: center;
}

.circle {
    background-repeat: no-repeat;
    background-image: url(../image/o.png);
    background-size: contain;
    background-position: center;
}

.fade-in {
    opacity: 1 !important;
    transition: opacity 1s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
    display: none !important;
}

.Settings,
.scoreboard {
    font-family: 'Mythical Glorious', sans-serif;
    text-align: center;
    display: grid;
    grid-template-rows: 25% 25% 50%;
}

.Settings p,
.scoreboard p {
    padding-bottom: 5%;
    font-size: 20px;
}

.p-play {
    padding: 5%;
}

.Settings input[type="text"] {
    width: 20%;
    height: 40%;
    text-align: center;
    font-family: 'Mythical Glorious', sans-serif;
}

.Settings input[type="submit"],
.scoreboard input[type="submit"] {
    border: 1px solid #E0E0E0;
    background-color: #F5F5F5;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    animation: cloudBorder 2s infinite alternate;
    font-family: 'Mythical Glorious', sans-serif;
    margin-top: 10%;
    width: 30%;
    height: 25%;
    font-size: 20px;
    cursor: pointer;
}

@keyframes cloudBorder {
    0% {
        transform: translateX(0);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    100% {
        transform: translateX(5px);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.486);
    }
}


.Settings h2 {
    font-family: 'MONICAY', sans-serif;
    font-size: 19px;
    font-weight: 100;
}

.scoreboard h2 {
    font-family: 'MONICAY', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.img {
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    width: 100%;
}

table {
    width: 90%;
    height: 50vh;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 8px;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}